body {
  margin: 0;
  padding: 0;
}

#map-container {
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
}

#map-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform-origin: top left;
  transition: transform 0.5s ease-in-out;
}

#map-image.zoomed {
  transform: scale(2);
}
